* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #04052e, #1b1032);
  overflow-x: hidden;
}

.header {
  background: linear-gradient(180deg, #04052e, #1b1032);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.logo-link {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 12px;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.2s;
}

.logo h1 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.logo:hover img {
  transform: scale(1.1);
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: background 0.3s, color 0.3s;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.about-us {
  display: flex;
  align-items: stretch; /* Stretch both items vertically */
  justify-content: center;
  padding: 0px 10px 20px; /* Add padding-top to adjust for navbar */
  margin-top: 80px; /* Add margin-top to create space below the navbar */
}

.about-content {
  flex: 1;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-image img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.about-us:hover .about-content {
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

.about-us:hover .about-image img {
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

/* Additional styles for fixed navigation */
body {
  scroll-behavior: smooth;
}

.header.fixed {
  position: fixed;
  animation: fadeInDown 0.5s ease;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

\ .contact-us {
  background: linear-gradient(180deg, #04052e, #1b1032);
  color: #ffffff;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  flex: 1;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-content h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-content p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}

.contact-form label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(219, 218, 218, 0.1);
  backdrop-filter: blur(10px);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0090b6;
}

.footer {
  background-color: #04052e;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-bottom: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icon img {
  width: 30px;
  height: auto;
}

.social-icon:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 10px;
  margin-top: 15px;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.additional-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.additional-content a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.additional-content a:hover {
  text-decoration: underline;
}

/* Additional styles for a stretched footer */
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #04052e 0%, rgba(4, 5, 46, 0.9) 100%);
  z-index: -1;
}

.registration {
  background: linear-gradient(180deg, #04052e, #1b1032);
  color: #ffffff;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-content {
  flex: 1;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.registration-content h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

.registration-content form input::placeholder,
.registration-content form select::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.registration-content form input,
.registration-content form select,
.registration-content form button,
.registration-content form label {
  width: 100%;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.registration-content form input,
.registration-content form select {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(219, 218, 218, 0.1);
  color: #ffffff;
}

.registration-content form select {
  height: auto;
}

.registration-content form .genre-selection {
  text-align: center;
  margin-bottom: 20px;
}

.genre-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  margin-top: 10px;
}

.genre-button {
  background-color: #1b1032;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.genre-button:hover {
  background-color: #04052e;
}

.genre-button.active {
  background-color: #0090b6;
  transform: scale(1.01);
  color: #ffffff;
}

.registration-content form .terms {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
}

.registration-content form .terms input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.registration-content form .terms-link,
.registration-content form .login-link {
  color: #00a8e8;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.registration-content form .terms-link:hover,
.registration-content form .login-link:hover {
  color: #0090b6;
}

.register-button {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0090b6;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #04052e, #1b1032);
  color: #ffffff;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  margin-bottom: 20px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.login-container h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(219, 218, 218, 0.1);
  color: #ffffff;
}

.login-button {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0090b6;
}

/* Styles for the dashboard page */
.dashboard {
  padding: 55px;
}

.user-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.username {
  font-size: 24px;
  font-weight: 600;
}

.mood-indicator {
  width: 40px;
  height: 40px;
  background-color: #00a8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.quick-access {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  backdrop-filter: blur(8px);
}

.quick-link {
  color: #00a8e8;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.quick-link:hover {
  color: #0090b6;
}

.music-recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.music-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.music-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  z-index: -1;
}

.music-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.music-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.music-artist {
  color: #9e9e9e;
  margin-bottom: 8px;
}

.listen-button {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listen-button:hover {
  background-color: #0090b6;
}

/* Styles for the search section */
/* Styles for the search section */
.search-section {
  background: linear-gradient(180deg, #04052e, #120236);
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
}

.search-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(219, 218, 218, 0.1);
  color: #ffffff;
  margin-bottom: 10px;
}

#searchButton {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: #0090b6;
}

/* Styles for the remix section */
.remix-section {
  background: linear-gradient(0deg, #04052e, #1b1032);
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.remix-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  width: 100%; /* Stretch the container across the page */
  max-width: 800px; /* Set a maximum width for the container */
  margin-left: auto;
  margin-right: auto;
}

#songInput {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  background: rgba(219, 218, 218, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

#generateRemixButton {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#generateRemixButton:hover {
  background-color: #0090b6;
}

.remix-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Styles for the welcome section */
.welcome-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
  padding: 5px 0;
  padding-top: 80px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.048);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.welcome-message {
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
}
/* Styles for the account details section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.account-details-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-details-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.account-details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(219, 218, 218, 0.1);
  color: #ffffff;
  margin-bottom: 15px;
}

button {
  background-color: #00a8e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0090b6;
}

.status-message {
  font-size: 14px;
  margin-top: 15px;
}

/* Styles for the preferred genres section */
.preferred-genres-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
  padding: 55px 0;
  text-align: center;
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preferred-genres-container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.preferred-genres-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.label-container {
  display: flex;
  align-items: center;
}

.genre-button {
  background-color: #1b1032;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.genre-button:hover {
  background-color: #04052e;
}

#updateGenresButton {
  margin-top: 15px;
}

.genre-button.active,
.genre-button.active:hover {
  background-color: #0090b6;
  transform: scale(1.01);
  color: #ffffff;
}
.genre-button.active {
  background-color: #0090b6;
  transform: scale(1.01);
  color: #ffffff;
}

/* Horizontal arrangement of sections */
.sections-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 30px auto;
  max-width: 1200px;
}

.account-details-section,
.preferred-genres-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #ffffff;
}

.account-details-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
}

.preferred-genres-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
}

.sentiment-analysis-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.chart-container {
  width: 100vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px; /* Adjust the padding to your preference */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 600px; /* Adjust the max-height to your preference */
  overflow: hidden;
}
/* Apply white color to all text within the chart */
.chart-container {
  color: white;
}

/* Apply white color to the legend labels */
.chart-container .chartjs-legend ul li span {
  color: white;
}

/* Apply white color to the axis labels */
.chart-container .chartjs-axis-label {
  color: white;
}

.delete-account-section {
  background: linear-gradient(180deg, #04052e, #1b1032);
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.delete-account-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

button {
  background-color: #3d2179;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #1b1032;
}

.status-message {
  font-size: 14px;
  margin-top: 15px;
}
